/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/***** BODY *****/

body {
    margin: 0;
    font-family: Helvetica Neue, sans-serif;
    display: block;
}

a {
    text-decoration: none;
}


/***** HEADER *****/
header{
    display: flex;
    height: 4em;
    align-items: center;
    background: WhiteSmoke;
    border-bottom:  1px lightgray solid;
}

header button{
    background: none; 
    border: none;
}

header button:focus {outline:0;}

header button img{
    height: 2em;
    margin-left: 1em
}
    
header a{
    display: block;
    height: 1.8em;
    margin-left: 1em; 
}

header a img{
     height: 100%;
}

/***** NAV *****/

nav{
    overflow: hidden;
    height:0 ;
}

.toon-menu {
    height: 30%;
}

nav ul li {
    list-style: none;
    padding: 1em;
}

nav ul li a{
    color: black;
}

.top-nav{
    display: none;
}


/***** MAIN *****/

/***** UPPER SECTION *****/

/* de sectie omzetten naar een kolom d.m.v. flex, zodat het ook past */
.Bovenste-sectie{
    display: flex;
    flex-direction: column;
}

/* de breedte het a element bepalen*/
.Bovenste-sectie a {
    display: block;
    width: 100%;
    height: 100%;
}

.Bovenste-sectie article {
    /*background-image: linear-gradient(to bottom, transparent, rgba(200,0,0,1));*/
    height: 100%;
    position: relative;
    background-position: center;
    overflow: hidden;
}


.Bovenste-sectie article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: ease 1s;
    /*z-index: 1;*/
}

/* afbeelding met 1,05 laten vergroten op hover */
.Bovenste-sectie article img:hover{
    transform: scale(1.02);
   
}

/* tekst van de hoofdartikelen aanpassen, de groote schaalt mee de kleur is wit en een kleine shadowzodat het ook leesbaar is op een witte achtergrond*/
h2{
    font-size: 4vw;
    color: white;
    position: absolute;
    bottom: 0;
    margin: 1em;
    z-index: 2;    
}

/* tekst voor de afbeelding zetten dmv "absolute" en margin meegeven top en bottom links en rechts zijn 1em*/


/***** MIDDLE SECTION *****/

.middle-section{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    
}

.middle-section article {
    display: block;
    border-bottom: 1px solid lightgray;
    margin-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
}

.middle-section a {
    display: flex;
    width: 100%;
    
}

.middle-section article img {
    display: block;
    width: 30vw;
    margin-right: 1em;
    /*z-index: 1;*/
    transition: ease 1s;
    }

.middle-section article img:hover{
    transform: scale(1.05);
}

h3{
    font-size: 4vw;
    font-weight: 400;
    color: black;
    /*margin: 1em;*/
    margin-top: 0;
}

.middle-section article p{
    display: none;
}


/***** FOOTER *****/

footer{
    background-color: #f6f6f6;
    margin-top: 1em;
    padding: 1em;
    border-top: 1px solid lightgray;
    
}

footer a img{
    height: 2em;
    margin-bottom: 1em;
}

footer ul{
    margin: 0;
    padding: 0;
}

footer ul li{
    list-style: none;
    font-size: 0.8em;
}

footer ul li a{
    color: black;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
}

footer ul li a:hover{
    color: red;
}

footer section{
    border-top: 1px solid lightgray;
    margin-top: 1em;
    
}

footer section a{
    display: block;
    color: gray;
    margin-top: 1em; 
    font-size: 0.9em;
}

footer section p{
    color: gray;
    font-size: 0.8em;
}


/***** ARTIKEL *****/

.img-artikel{
    display: none;  
}

.img-artikel-bovenste{
    height: 46vh;
    width: 100%;
    object-fit: cover;
}

.artikel{
    padding: 1em;
}

.artikel ul{
    list-style: none;
    padding: 0em;
    margin: 1em;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 800;
    }

.artikel ul li{
    display: inline-block;
    vertical-align: top;
}

.artikel ul li a{
    color: gray;
}

.artikel ul li a:hover{
    color: red;
}

.artikel h1{
    font-size: 1.5em;
    line-height: 1.3em;
}

.artikel p{
    display: block;
    font-size: 1em;
    line-height: 1.7em;
    padding-top: 2em;
}

.artikel article{
    display: flex;
}

.artikel article img{
    height: 2em;
}

.img-artikel{
    display: none;
}



@media (min-width: 600px){
    
    /******* HEADRER sectie MEDIA 600px *****/
    
    header{
        margin: auto;
    }
    
    header a img{
        margin-left: 3em;
    }
    
    .top-nav{
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;
    
    }
    
    .top-nav ul{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        padding-left: 3em
       
    }
    
    .top-nav ul li{
        list-style: none;
        padding: 0;
        margin: 0;
    
    }
    
    .top-nav ul li a{
        display: block;
        color: dimgray;
        border-left: 1px lightgray solid;
        padding: 0;
        padding-left: 1.2em;
        padding-right: 3em;
        padding-top: 1.4em;
        margin: 0;
        height: 100%;
        transition: ease 0.4s;
        
    }
    
    .top-nav ul li a:hover{
        color: red;
        border-left: 1px red solid;
        text-decoration: underline red solid;
    }
    
    
    header button{
        display: none;
    }
     /******* bovenste sectie MEDIA 600px *****/
    
    .Bovenste-sectie{
        display: flex;
        flex-direction: row;
        height: 35vh;    
}
    
    h2{
        font-size: 1.2em;
        color: white;
        position: absolute;
        bottom: 0;
        margin: 2em;
        z-index: 2;    
}
    
    /******* middelste sectie MEDIA 600px *****/

    .middle-section{
        display: grid;
        grid-template-columns: 35vw 35vw;
        grid-column-gap: 2em;
        justify-content: center;
    }
        
    .middle-section article img {
        width: 100%;
        margin-right: 0 ;
        
    }
    
    .middle-section article {
        border: none;
    } 
    
    .middle-section a {
        display: block;
        border: none;      
    }
    
    .middle-section a h3{
        font-size: 1.1em;
        margin-top: 1em;
        width: 32vw;
        font-weight: 700;
    }   
    
    .middle-section article p{
        display: flex;
        color: black;
        font-weight: 400;
        font-size: 1em; 
        line-height: 1.5em;    
}
    
    /******* FOOTER MEDIA 600px *****/
    
    footer{
        padding-left: 13vw
    }
    
    
    /******* ARTIKEL MEDIA 600px *****/
    
    
    .img-artikel-bovenste{
        display: none;
    }
    
    
    .img-artikel{
        display: block;
        height: 40%;
        width: 650px;
        object-fit: cover;
        margin: auto;
    }

    
    .artikel{
        display: block;
         
    }
    
    .artikel ul{
        list-style: none;
        margin: 1em;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: 800;
        margin-right: 130px;
    }

    .artikel ul li{
        display: inline-block;
        vertical-align: top;
}

    .artikel ul li a{
        color: gray;
}    

    .artikel ul li a:hover{
        color: red;
    }
    
    .artikel h1{
        margin: auto;
        width: 550px;
        font-size: 2.5em;
        margin-bottom: 1em;
    }
    
    .artikel p{
        margin: auto;
        width: 550px;
        font-size: 1em;
        font-weight: 400;  
    }
    
}

@media (min-width: 900px){    
    
    /******* bovenste sectie MEDIA 900px *****/
    
    .Bovenste-sectie{
        height: 55vh;    
}
    
    h2{
        font-size: 1.8em;
        margin: 1em;   
}
    /******* middelste sectie MEDIA 900px *****/

    .middle-section{
        grid-template-columns: 25vw 25vw 25vw;
        margin-left: 6em;
        margin-right: 6em;
    } 
    
    .middle-section a h3{
        width: 24vw;
    }
    
    .middle-section a h3:hover{
        color: red;
        transition: 0.55s;
    }
    
    
    /******* FOOTER MEDIA 900px *****/
    
    footer{
        padding-left: 10vw
    }
    
    /******* ARTIKEL MEDIA 900px *****/
    
    .img-artikel{
        height: 70%;
        width: 900px;
    }
        
    .artikel{
        display: block;
         
    }
    
    .artikel ul{
        margin-right: 280px;
    }
    
    .artikel h1{
        width: 700px;
        font-size: 3em;
    }
    
    .artikel p{
        width: 700px;
        font-size: 1.1em;
    }   
} 





