/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/***** BODY *****/

    /* standaard waarden voor de body zoals geen margin en het font aanroepen */
body {
    margin: 0;
    font-family: Helvetica Neue, sans-serif;
    display: block;
}

a {
    text-decoration: none;
}


/***** HEADER *****/

    /* header vormgeven*/
header{
    display: flex;
    height: 4em;
    align-items: center;
    background: WhiteSmoke;
    border-bottom:  1px lightgray solid;
}

    /* geen blauwe lijn om de button afbeelding*/
header button{
    background: none; 
    border: none;
}

    /* als er op de button is geklikt geen uitline weergeven*/
header button:focus {outline:0;}
 
    /* de maat en de margin van de button image aangeven*/
header button img{
    height: 2em;
    margin-left: 1em
}
    /* de maat en de margin van de button image aangeven*/
header a{
    display: block;
    height: 1.8em;
    margin-left: 1em; 
}

header a img{
     height: 100%;
}

/***** NAV *****/

/* navigatie verbergen*/
nav{
    overflow: hidden;
    height:0 ;
}

/* navigatie tonen als er op het icoon wordt geklikt*/
.toon-menu {
    height: 30%;
}

/* geen stijl aan de lijst*/
nav ul li {
    list-style: none;
    padding: 1em;
}

/* zwarte kleur*/
nav ul li a{
    color: black;
}
    /* navigatie van grotere schermgrootes niet tonen*/
.top-nav{
    display: none;
}


/***** MAIN *****/

/***** UPPER SECTION *****/

        /* de sectie omzetten naar een kolom d.m.v. flex, zodat het ook past */
.top-section{
    display: flex;
    flex-direction: column;
}

/* de breedte het a element bepalen*/
.top-section a {
    display: block;
    width: 100%;
    height: 100%;
}
    /* absolute zodat de teks er overheen gaat & overflow zodat de afbeelding niet groter wordt*/
.top-section article {
    height: 100%;
    position: relative;
    overflow: hidden;
}

    /* de afbeeldingen de juiste groote meegeven en een transitie van 1sec meegeven bij hover*/
.top-section article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: ease 1s;
}

    /* afbeelding met 1,05 laten vergroten op hover */
.top-section article img:hover{
    transform: scale(1.02);
   
}

    /* tekst van de hoofdartikelen aanpassen, de groote schaalt mee de kleur is wit en een kleine shadowzodat het ook leesbaar is op een witte achtergrond*/
h2{
    font-size: 4vw;
    color: white;
    position: absolute;
    bottom: 0;
    margin: 1em;
    z-index: 2;    
}

/* tekst voor de afbeelding zetten dmv "absolute" en margin meegeven top en bottom links en rechts zijn 1em*/


/***** MIDDLE SECTION *****/

     /* margin en padding meegeven*/
.middle-section{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    
}
    /* border toevoegen */
.middle-section article {
    display: block;
    border-bottom: 1px solid lightgray;
    margin-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
}
    /* flex zodat het naast elkaar staat*/
.middle-section a {
    display: flex;
    width: 100%;
    
}
    /* groote bepalen dmv vw en transition van 1sec toevoegen*/
.middle-section article img {
    display: block;
    width: 30vw;
    margin-right: 1em;
    transition: ease 1s;
    }
    
    /* afbeelding met 5% vergroten op hover*/
.middle-section article img:hover{
    transform: scale(1.05);
}
    
    /* font groote en dikte meegeven en zorgen dat hij boven staat dmv margin 0*/
h3{
    font-size: 4vw;
    font-weight: 400;
    color: black;
    margin-top: 0;
}
    /* p niet weergeven op small screen*/
.middle-section article p{
    display: none;
}


/***** FOOTER *****/

    /*achtergrondkleur meegeven en margin, padding en een border eromheen.*/
footer{
    background-color: #f6f6f6;
    margin-top: 1em;
    padding: 1em;
    border-top: 1px solid lightgray;
    
}
    /* afb in footer stijlen*/
footer a img{
    height: 2em;
    margin-bottom: 1em;
}
    /* geen margin en padding meegeven zodat ze links en boven staan*/
footer ul{
    margin: 0;
    padding: 0;
}
    
    /* geen stijl aan de lijst meegeven en font groote bepalen*/
footer ul li{
    list-style: none;
    font-size: 0.8em;
}
    /* block meegeven zodat ik ze op padding kan stijlen en tekst zwarte kleur maken */
footer ul li a{
    color: black;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;   
}
    /* op hover wordt de tekst rood*/
footer ul li a:hover{
    color: red;
}

    /* border in de footer en een margin van 1em boven*/
footer section{
    border-top: 1px solid lightgray;
    margin-top: 1em;
}

    /* block zodat margin werkt en kleur van tekst grijs maken*/
footer section a{
    display: block;
    color: gray;
    margin-top: 1em; 
    font-size: 0.9em;
}

    /* grijze kleur en groote van 0.8em*/
footer section p{
    color: gray;
    font-size: 0.8em;
}


/***** ARTIKEL *****/


    /* onderse afbeelding niet tonen*/
.img-artikel{
    display: none;  
}

    /* bovenste afbeelding stijlen*/
.img-artikel-bovenste{
    height: 46vh;
    width: 100%;
    object-fit: cover;
}

    /* padding om hele artikel van 1em */
.artikel{
    padding: 1em;
}
    
    /* alled grote letters*/
.artikel ul{
    list-style: none;
    padding: 0em;
    margin: 1em;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 800;
    }

    /* naast elkaar zetten*/
.artikel ul li{
    display: inline-block;
    vertical-align: top;
}
    
    /* grijze kleur maken*/
.artikel ul li a{
    color: gray;
}

    /* rood op hover*/
.artikel ul li a:hover{
    color: red;
}
    /* groote van titel*/
.artikel h1{
    font-size: 1.5em;
    line-height: 1.3em;
}
    
    /* tekst van artikel opmaken*/
.artikel p{
    display: block;
    line-height: 1.7em;
    padding-top: 2em;
}

 /******* MEDIA QUERIES ****/

@media (min-width: 600px){
    
    /******* HEADRER sectie MEDIA 600px *****/
    
    header{
        margin: auto;
    }
    
    header a img{
        margin-left: 3em;
    }
    
    
    /* nav in header laten zien op grote schermen */
    .top-nav{
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;
    
    }
    
    .top-nav ul{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        padding-left: 3em
       
    }
    
    .top-nav ul li{
        list-style: none;
        padding: 0;
        margin: 0;
    
    }
    
    .top-nav ul li a{
        display: block;
        color: black;
        border-left: 1px lightgray solid;
        padding: 0;
        padding-left: 1.2em;
        padding-right: 3em;
        padding-top: 1.4em;
        margin: 0;
        height: 100%;
        transition: ease 0.4s;
        
    }
    
    .top-nav ul li a:hover{
        color: red;
        border-left: 1px red solid;
        text-decoration: underline red solid;
    }
    
        /* hamburger icoon niet laten zien*/
    header button{
        display: none;
    }
     /******* bovenste sectie MEDIA 600px *****/
    
    .top-section{
        display: flex;
        flex-direction: row;
        height: 35vh;    
}
    
    h2{
        font-size: 1.2em;
        color: white;
        position: absolute;
        bottom: 0;
        margin: 2em;
        z-index: 2;    
}
    
    /******* middelste sectie MEDIA 600px *****/

        /* omzetten naar grid in 2 kolommen van 35vw*/
    .middle-section{
        display: grid;
        grid-template-columns: 35vw 35vw;
        grid-column-gap: 2em;
        justify-content: center;
    }
        
    .middle-section article img {
        width: 100%;
        margin-right: 0 ;
        
    }
    
    .middle-section article {
        border: none;
    } 
    
    .middle-section a {
        display: block;
        border: none;      
    }
    
    .middle-section a h3{
        font-size: 1.1em;
        margin-top: 1em;
        width: 32vw;
        font-weight: 700;
    }   
    
    .middle-section article p{
        display: flex;
        color: black;
        font-weight: 400;
        font-size: 1em; 
        line-height: 1.5em;    
}
    
    /******* FOOTER MEDIA 600px *****/
    
    footer{
        padding-left: 13vw
    }
    
    
    /******* ARTIKEL MEDIA 600px *****/
    
    
    .img-artikel-bovenste{
        display: none;
    }
    
    
    .img-artikel{
        display: block;
        height: 50%;
        width: 650px;
        object-fit: cover;
        margin: auto;
    }
    
    .artikel ul{
        text-align: center;
        font-size: 0.7em;
        margin-right: 130px;
    }

    .artikel h1{
        margin: auto;
        width: 550px;
        font-size: 2.5em;
        margin-bottom: 1em;
    }
    
    .artikel p{
        margin: auto;
        width: 550px;
        font-size: 1em;
        font-weight: 400;  
    }
    
}

@media (min-width: 900px){    
    
    /******* bovenste sectie MEDIA 900px *****/
    
    .top-section{
        height: 55vh;    
}
    
    h2{
        font-size: 1.8em;
        margin: 1em;   
}
    /******* middelste sectie MEDIA 900px *****/

        /* omzetten naar grid in 3 kolommen van 25vw*/
    .middle-section{
        grid-template-columns: 25vw 25vw 25vw;
        margin-left: 6em;
        margin-right: 6em;
    } 
    
    .middle-section a h3{
        width: 24vw;
    }
    
    .middle-section a h3:hover{
        color: red;
        transition: 0.55s;
    }
    
    
    /******* FOOTER MEDIA 900px *****/
    
    footer{
        padding-left: 10vw
    }
    
    /******* ARTIKEL MEDIA 900px *****/
    
    .img-artikel{
        height: 70%;
        width: 900px;
    }
        
    .artikel{
        display: block;
         
    }
    
    .artikel ul{
        margin-right: 280px;
    }
    
    .artikel h1{
        width: 700px;
        font-size: 3em;
    }
    
    .artikel p{
        width: 700px;
        font-size: 1.1em;
    }   
} 





